# SPDX-FileCopyrightText: Daniel Wolf <nephatrine@gmail.com>
# SPDX-License-Identifier: CC0-1.0
 
* text=auto eol=lf

Dockerfile   text eol=lf -executable
Dockerfile.* text eol=lf -executable

override/usr/local/bin/*      text eol=lf executable diff=bash
override/etc/periodic/15min/* text eol=lf executable diff=bash
override/etc/periodic/daily/* text eol=lf executable diff=bash

run text eol=lf executable diff=bash
up  text eol=lf executable diff=bash

*.cmake text eol=lf -executable
*.json  text eol=lf -executable
*.md    text eol=lf -executable diff=markdown
*.toml  text eol=lf -executable
*.txt   text eol=lf -executable
*.yaml  text eol=lf -executable
*.yml   text eol=lf -executable

.dockerignore  text eol=lf -executable
.gitattributes text eol=lf -executable export-ignore
.gitignore     text eol=lf -executable export-ignore
.reuse/dep5    text eol=lf -executable
